<%- include ('partials/_header');  %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/update/" method="post">
                        <div class="form-group">
                            <input type="text" name="first_surname" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="second_surname" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="first_name" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="other_name" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="country_employment" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="identification" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="number_identification" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="date_admission" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="area" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="condition_" class="form-control">
                        </div><br>
                        <button type="submit" class="btn btn-primary">
                            Editar Empleado
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ('partials/_footer');  %>