
<%- include ('partials/_header')  %>


<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>n°</th>
                        <th>1er apellido</th>
                        <th>2do apellido</th>
                        <th>1er nombre</th>
                        <th>otros nombres</th>
                        <th>pais de empleo</th>
                        <th>identificación</th>
                        <th># indentificación</th>
                        <th>correo</th>
                        <th>fecha de ingreso</th>
                        <th>area</th>
                        <th>estado</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <div class="form-group">
                            <input type="text" name="first_surname" placeholder="Primer Apellido" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="second_surname" placeholder="Segundo Apellido" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="first_name" placeholder="Primer Nombre" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="other_name" placeholder="Otros Nombres" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="country_employment" placeholder="Pais de Empleo" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="identification" placeholder="Tipo de Documento" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="number_identification" placeholder="Numero de Documento" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="email" placeholder="Correo Electronico" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="date_admission" placeholder="Fecha de Ingreso" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="area" placeholder="Area de Trabajo" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <input type="text" name="condition_" placeholder="Estado" class="form-control">
                        </div><br>
                        <button type="submit" class="btn btn-primary">
                            Guardar Empleado
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('partials/_footer')  %>